---
import { getCollection } from 'astro:content';
import FeaturePost from '@/components/FeaturePost.astro';
import ListingPost from '@/components/ListingPost.astro';
import GridPost from '@/components/GridPost.astro';
import Main from '../../layouts/main.astro'
import BlogRow from '@/components/BlogRow.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---
<Main>
		<main>
			<section class="container justify-center pt-36 pb-24">
				<div class="featured-posts">
					{
						posts.slice(0,4).map((post, index) => (
						<div>
							{
								index === 0 
								? <FeaturePost title={post.data.title} pubDate={post.data.pubDate} heroImage={post.data.heroImage} category={post.data.category} slug={post.slug}/>
								: <ListingPost title={post.data.title} pubDate={post.data.pubDate} excerpt={post.data.excerpt} heroImage={post.data.heroImage} category={post.data.category} slug={post.slug}/>
							}
						</div>
						))
					}
				</div>
			</section>

			<BlogRow posts={posts.slice(0,4)} />
		</main>
</Main>

<style>
	body{
		background: #fdfdfd;
	}
	.featured-posts{
		display: grid;
		/* background-color: aquamarine; */
		gap:2rem;
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas: 
			"post1 post1 post2"
			"post1 post1 post3"
			"post1 post1 post4"
		;
	}
	.featured-posts > div:nth-child(1){
		grid-area: post1;
	}
	.featured-posts > div:nth-child(2){
		grid-area: post2;
	}
	.featured-posts > div:nth-child(3){
		grid-area: post3;
	}
	.featured-posts > div:nth-child(4){
		grid-area: post4;
	}
</style>
